@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background-color: #0a0a0a;
    --container-background-color: #0a0a0acc;
    --hero-color: #ff8ccc;

    --background-fluff-font-size: 1vw;

    --welcome-card-width: 70vw;
    --welcome-card-height: 50vh;
    --welcome-card-img-radius: 20rem;

    --header-height: 8vh;
    --header-item-margin: 2rem;
    --header-span-margin: 2rem 0.5rem 2rem 0.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.highlight-on-hover:hover {
    color: var(--hero-color);
}

html {
    scrollbar-gutter: stable;
    font-family: "JetBrains Mono", monospace;
    color: white;
    background-color: var(--background-color);
    font-size: 62.5%;
}

a {
    color: inherit;
}

h1 {
    font-weight: 400;
    font-size: 4rem;
}

h2 {
    font-weight: 200;
    font-size: 2rem;
}

h3 {
    font-weight: 100;
    font-size: 2rem;
}

header {
    z-index: 5;
    font-size: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    height: 100%;
    background-color: var(--container-background-color);
    font-weight: lighter;
}

header > p { /* name, left aligned */
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 0 var(--header-item-margin) 0 var(--header-item-margin);
}

header > nav { /* links, center aligned */
    display: flex;
    margin: auto;
}

header > nav > a {
    padding: var(--header-item-margin);
}

header > nav > a:hover {
    cursor: pointer;
}

.header-divider {
    cursor: default;
    padding: var(--header-span-margin);
}

#background-fluff-container {
    z-index: -1;
    user-select: none;
    font-size: var(--background-fluff-font-size);
    position: fixed;
    width: 100vw;
    height: 200vh;
}

#background-fluff-container p {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

#side-stars {
    top: calc(var(--header-height) * 2);
}

#welcome-card {
    display: flex;
    position: relative;
    top: calc(100vh / 2 - var(--welcome-card-height) / 2);
    left: calc(100vw / 2 - var(--welcome-card-width) / 2);
    width: fit-content;
    height: fit-content;
    background-color: var(--container-background-color);
    padding: 2vw;
}

#selfie-drip {
    text-shadow: 1px 1px var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.4rem;
    line-height: 1rem;
    white-space: pre;
    user-select: none;
    color: var(--hero-color);

    transform: translate(-115%, -50%) rotate(30deg);
}

#welcome-card img {
    position: relative;
    width: var(--welcome-card-img-radius);
    height: var(--welcome-card-img-radius);
    border-radius: 50%;
}

#welcome-card div {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 3rem;
}

#welcome-card * {
    z-index: 1;
}

#welcome-card h1 {
    line-height: 8rem;
}

#scroll-arrow-container {
    cursor: pointer;
    clip-path: circle();
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 90vh;
    left: 50%;
    font-size: 5rem;

    transform: translateX(-2.5rem);
}

#scroll-arrow-container p {
    font-family: monospace;

    transform: translateX(6.5%) rotate(90deg);
}

/* #scroll-arrow-container:hover > p {
    transform: translateX(-6.5%) rotate(-90deg);
    color: blue;
} */

.project-info-text-container h3 span {
    color: var(--hero-color);
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-size: cover;
    
    transition: opacity 0.4s ease 0.2s;
}

.visible {
    opacity: 1;
    pointer-events: initial;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    display: none !important;
}

@media only screen and (max-width: 1600px) {
    header nav {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    header {
        font-size: 1.5rem;
    }

    .project-container {
        width: 60% !important;
    }

    .project-info-text-container h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    header nav a {
        padding: calc(var(--header-item-margin) / 2);
    }

    .project-container {
        width: 80% !important;
    }

    .header-divider {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
}

@media only screen and (max-width: 850px) {
    header nav a {
        padding: calc(var(--header-item-margin) / 4);
    }

    .header-divider {
        padding: .5rem 0.5rem .5rem 0.5rem;
    }
}

@media only screen and (max-width: 780px) {
    header {
        position: relative;
    }

    header nav {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 110px;
    }

    header nav a {
        padding: 0.4rem 0.6rem;
    }

    .header-divider {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #welcome-card {
        left: 0;
    }

    #selfie-drip {
        display: none;
    }

    #name-button {
        padding: 0 0 0 var(--header-item-margin);
    }
}

@media only screen and (max-width: 600px) {
    .project-info-text-container h3 {
        font-size: 1.3rem;
    }

    .project-info img {
        display: none;
    }
    
    .project-info i {
        display: none;
    }
}